body {
    font-family: 'Baskerville','Lucida Bright','Cambria','Book Antiqua','Big Caslon','Calisto MT', 'serif', 'sans-serif';
    font-size: large;
    padding-bottom: 40px;
  }

.form-component {
  width:100%;
  margin-bottom: 10px;
}

main {
  margin-top: 10px;
}

h1 {
  color: #E38F9E;
}

hr {
  background-color: #70A179;
  height: 3px;
}

header .nav-link {
  color: white;
  text-decoration: none;

}
header {
  display: flex;
  flex-direction: row;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .navbar-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.input-element {
  width: 90%; 
  margin-left: 10px;
}

.navbar-nav{
  justify-content: space-between;
}